
<div class="row">
    <div class="col-lg-2" style="margin-bottom:10px">
        <label>الرجاء اختيار العملة</label>
        <select class="form-control"  id="e-coin-select"></select>
    </div>
    <div class="col-lg-2">
        <label>الرجاء اختيار المنطقة</label>
        <select class="form-control" id="e-area-select"></select>
    </div>
    <div class="col-lg-2">
        <label>من:</label>
        <input type="text" class="form-control" onkeypress="validation(this,event);" onkeyup="FormaittingNumber(this);" onkeydown=" PriventEmptytext(this, event,)" id="startRange" />
    </div>
    <div class="col-lg-2">
        <label>إلى:</label>
        <input type="text" class="form-control" onkeypress="validation(this,event);" onkeyup="FormaittingNumber(this);" @*onkeydown=" PriventEmptytext(this, event,) "*@ id="endRange" />
    </div>
    <div class="col-lg-2">
        <label>نوع العمولة</label>
        <select class="form-control" id="type">
            <option value=""></option>
            <option value="1">عمولة</option>
            <option value="2">نسبة</option>
        </select>
    </div>
    <div class="col-lg-2">
        <label>القيمة</label>
        <input type="text" class="form-control" onkeypress="validation(this,event);" onkeyup="FormaittingNumber(this);" onkeydown=" PriventEmptytext(this, event,) " id="value" />
    </div>
</div>
<div class="row" style="margin-bottom:10px">
    <div class="col-lg-2">
        <input type="button" class="btn btn-primary" value="إضافة" id="addComission" />
    </div>
</div>
<div class="row">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class=""></i>
                العمولة
            </div>
            <div class="tools"> </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="comissionTable" cellspacing="0">
                <thead>
                <tr>
                    <th>
                        الحد الأدنى
                    </th>
                    <th>
                        الحد الأعلى
                    </th>
                    <th>
                        بتاريخ
                    </th>
                    <th>
                        العمولة
                    </th>
                    <th>
                        النسبة
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        initialCoinsForDropdown();

    });

    function initialCoinsForDropdown() {
        $.get('@Url.Action("GetCoinsForDropdown", "Coin")', function (data) {

            $('#e-coin-select').append('<option index="0"></option>');

            var coins = data.Coins;
            for (var i = 0; i < coins.length; i++) {
                var option = '<option value="' + coins[i].Id + '">' + coins[i].Name + '</option>';
                $('#e-coin-select').append(option);
            }

            $('#e-coin-select').select2({ width: null, placeholder: "اختر عملة" });

            $('#e-coin-select').val('').trigger('change');

        });
    }

    function initialCountriesForDropdown() {
        $.get('@Url.Action("GetAllWithProvinces", "Country")', function (data) {

            $('#e-area-select').append('<option index="0"></option>');

            var countries = data.Countries;
            for (var i = 0; i < countries.length; i++) {
                var option = '<option value="' + countries[i].Id + '">' + countries[i].Name + '</option>';
                $('#e-area-select').append(option);
            }

            $('#e-area-select').select2({ width: null, placeholder: "اختر منطقة" });

            $('#e-area-select').val('').trigger('change');

        });
    }
</script>
