
@{
                /**/

                ViewBag.Title = "إدارة المستخدمين";
                Layout = "~/Views/Shared/_BlankPageLayout.cshtml";
}

@section  Style{
    <!--Data Table Style-->
    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet"
          type="text/css" />
    <!--End Data Table Style-->
    <!--Begin Css Jquery Confirm-->
    <link href="~/Content/Jquery-Confirm/Jquery-confrim-css.css" rel="stylesheet" />
    <!--END Css Jquery Confirm-->

}

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-key"></i>إدارة المستخدمين
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title=""
                   title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <ul class="nav nav-tabs tabs-left" id="utTabUl">
                        <li class="active">
                            <a href="#User_Tab" data-indexurl="@Url.Action("Index","User")" data-toggle="tab"> المستخدمين </a>
                        </li>
                        <li>
                            <a href="#Role_Tab" data-indexurl="@Url.Action("Index","Role")" data-toggle="tab">الادوار</a>
                        </li>
                     
                    </ul>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="User_Tab">

                            @Html.Partial(Url.Content("~/Views/User/Index.cshtml"))

                        </div>

                        <div class="tab-pane" id="Role_Tab"></div>
                        
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(function(){
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var url = $(e.target).attr('data-indexurl');
                var id = e.target.href.split("#")[1];
                $('#' + id).load(url);
            })
        });
        </script>



